.container1{
margin-left: 36%;
}
  .upload{
    border: solid 2px;
    width:400px; 
    height:400px;
    
  }

.fichier{
    margin-top: 10%;
    width: 50%;
    background-color: black;
}

input{
    width: 100%;
    margin-top: 10px;
}
.center{
    margin-left: 25%;
    margin-top: 8%;
}
.text{
    display: block;
    text-align: center;
    width: 100%;
    
}